body, select, input[type="text"] {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

input[type="text"], select, label {
	font-size: 16px;
}
body {
	background-color: #000000;
	font-family: "Comic Sans MS", sans-serif;
  color: #9500ff;
}


input {
	background-color: #00ff00;
  color: #9500ff;
}

input[type="text"] {
	text-align: right;
}

input-value {
	color: #00ff00
}
